{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Здравствуйте, Администратор!</h1>
  <p class="lead">Добро пожаловать в систему управления очередями.</p>
  <hr class="my-4">
  <p>Авторизуйтесь, чтобы получить доступ к системе.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">Регистрация</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Вход</a>
  </p>
</div>

{% endblock content %}
